На вход программе подается целое десятичное число. Прочитайте его и, используя битовые операции, выполните умножение введенного числа на 4. Выведите на экран полученное числовое значение.

In [44]:
print(int(input())<<2)

40
160

На вход программе подается зашифрованное слово. Шифрование кодов символов этого слова было проведено с помощью битовой операции XOR с ключом key=123. То есть, каждый символ был преобразован по алгоритму:

x = ord(x) ^ key

Здесь ord - функция, возвращающая код символа x. Прочитайте слово из входного потока и расшифруйте его. Выведите на экран результат расшифровки.

P. S. Подсказка: для преобразования кода в символ используйте функцию chr.

In [45]:
for i in input():
    print(chr(ord(i) ^123), end = '')

ѩкю[щюлцхZ
Все верно!

На вход программе подаются два натуральных числа a, b (a < b), записанных через пробел. Прочитайте их и выполните генерацию вещественной случайной величины в диапазоне [a; b). Округлите результат до сотых и выведите его на экран.

Ликбез: квадратная скобка - граница включается в диапазон; круглая скобка - граница исключается из диапазона.

In [47]:
import random
# установка "зерна" датчика случайных чисел, чтобы получались одни и те же случайные величины
random.seed(1)
a, b = map(int, input().split())
print(round(random.uniform(a,b), 2))

-4 5
-2.79

На вход программе подается строка с именами студентов, записанными через пробел. Требуется прочитать эти имена и случайным образом выбрать трех студентов из этого списка, используя функцию sample. (Полагается, что в исходном списке более трех студентов). Результат вывести на экран в одну строчку через пробел.

In [48]:
import random
# установка "зерна" датчика случайных чисел, чтобы получались одни и те же случайные величины
random.seed(1)
print(*random.sample(input().split(),3))

Петров Иванов Сидоров Балакирев Фридман
Иванов Петров Фридман

Пользователь может ввести с клавиатуры следующие команды в виде строки:

top или Top или TOP
bottom или Bottom или BOTTOM
right или Right или RIGHT
left или Left или LEFT

cmd = input()

                  
С помощью оператора match/case необходимо определить тип команды cmd и при совпадении вывести на экран сообщение в формате:

Команда <название команды малыми буквами>

Например, при вводе Top, должны на выходе получить:

Команда top

И так для всех четырех команд. Если тип команды не определен, то вывести строку:

Неверная команда

In [50]:
cmd = input()
match cmd:
    case 'top'|'Top'|'TOP':
        print('Команда top')
    case 'bottom'|'Bottom'|'BOTTOM':
        print('Команда bottom')
    case 'right'|'RIGHT'|'Right':
        print('Команда right')
    case 'left'|'Left'|'LEFT':
        print('Команда left')

BOTTOM
Команда bottom

Вводятся данные по книге в виде строки через запятую в формате (некоторые значения могут отсутствовать):

id, автор, название, цена, год издания

с помощью команд:

t = (int, str, str, float, int)
book = [t[i](x) if t[i] != str else x.strip() for i, x in enumerate(input().split(","))]

                  
Например, при вводе:

"1, Балакирев С.М., Python, 2100, 2023"

получим список:

book = [1, 'Балакирев С.М.', 'Python', 2100.0, 2023]

А при вводе:

"1, Балакирев С.М., Python"

список:

book = [1, 'Балакирев С.М.', 'Python']

И так далее.

С помощью оператора match/case необходимо определить шаблоны для выделения следующей информации:

автор, название
автор, название, цена
автор, название, цена, год издания
Первый шаблон срабатывает, если есть только автор и название; второй, если появляется еще и цена; третий, если имеются все данные.

При срабатывании шаблона вывести на экран строку "Yes". Если ни один из шаблонов не сработал, то вывести строку "No".

In [51]:
t = (int, str, str, float, int)
book = [t[i](x) if t[i] != str else x.strip() for i, x in enumerate(input().split(","))]
match book:
    case [_, author, name]:
        print('Yes')
    case [_, author, name, price]:
        print('Yes')
    case [_, author, name, year]:
        print('Yes')
    case [_, author, name, price, year]:
        print('Yes')
    case _:
        print('No')

1, Балакирев С.М., Python, 2100.0, 2023
Yes