На вход программы подается вещественное число: стоимость одной книги x рублей. Необходимо прочитать это число и вывести на экран в одну строчку через пробел стоимости 2, 3, ... 10-ти таких книг с точностью до десятых. Программу реализовать при помощи цикла while.

In [1]:
a = float(input())
k = 2
m = []
while k<=10:
    m.append(round(a*k,1))
    k+=1
print(*m)

34.6
69.2 103.8 138.4 173.0 207.6 242.2 276.8 311.4 346.0

На вход программе подается натуральное число (то есть, целое положительное) от трехзначного и более. Необходимо прочитать это число и найти произведение всех его цифр. Результат (произведение) вывести на экран. Программу реализовать при помощи цикла while.

In [2]:
a = list(map(int, input()))
k = 0
d = 1
while k<=(len(a)-1):
    d = d*a[k]
    k+=1
print(d)

821
16

На вход программе подаются два натуральных числа n и m, записанных в одну строчку через пробел, причем n < m. Необходимо прочитать эти числа и напечатать все нечетные числа из интервала [n, m]. Задачу следует решить без применения условного оператора. Результат вывести на экран в виде строки чисел, записанных через пробел. Программу реализовать при помощи цикла while.

In [3]:
n,m = map(int, input().split())
a = []
while n<=m:
    if n%2==1:
        a.append(n)
    else:
        pass
    n+=1
print(*a)

2 10
3 5 7 9

Составить программу поиска всех трехзначных чисел, которые при делении на 47 дают в остатке 43 и кратны 3. Вывести найденные числа в одну строчку через пробел в порядке возрастания. Программу реализовать при помощи цикла while.

In [4]:
a = 100
n= []
while a<1000:
    if a%47==43 and a%3==0:
        n.append(a)
    else:
        pass
    a+=1
print(*n)

231 372 513 654 795 936

На вход программе подается натуральное число N (то есть, положительное, целое). Требуется его прочитать и создать двумерный (вложенный) список размером N x N элементов, состоящий из всех единиц, а затем, в последний столбец записать пятерки. Вывести этот список на экран в виде таблицы чисел, как показано в примере ниже.

In [5]:
n = int(input())
a = [[1]*n for k in range(n)]
for j in range(n):
    a[j][n-1] = 5
for x in a:
    print(' '.join(map(str, x)))

4
1 1 1 5
1 1 1 5
1 1 1 5
1 1 1 5

На вход программе подается натуральное число n. Необходимо его прочитать и найти все простые числа (нацело делятся только на 1 и на себя), которые меньше числа n, то есть, в диапазоне [2; n). Результат вывести на экран в строчку через пробел.

In [6]:
n = int(input())
a = []
for j in range(2, n):
    for k in range(2,int(j**0.5)+1):
        if j%k==0:
            break
    else:
        a.append(j)
print(*a)

11
2 3 5 7